<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- data connection -->
    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/testdb"></property>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean" id="prop">
        <property name="locations">
            <array>
                <value>classpath:value.properties</value>
                <value>classpath:public.properties</value>
            </array>
        </property>
    </bean>

    <!-- session factory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.connection.url">jdbc:mysql://localhost:3306/testdb</prop>
                <prop key="hibernate.connection.driver_class">com.mysql.jdbc.Driver</prop>
                <prop key="current_session_context_class">org.springframework.orm.hibernate5.SpringSessionContext</prop>
            </props>
        </property>
        <property name="annotatedClasses">
            <list>
                <value>pers.cqb.mall.entity.AccountEntity</value>
                <value>pers.cqb.mall.entity.CategoryEntity</value>
                <value>pers.cqb.mall.entity.ProductEntity</value>
                <value>pers.cqb.mall.entity.ForderEntity</value>
                <value>pers.cqb.mall.entity.SorderEntity</value>
                <value>pers.cqb.mall.entity.StatusEntity</value>
                <value>pers.cqb.mall.entity.UserEntity</value>
            </list>
        </property>
    </bean>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:component-scan base-package="pers.cqb.mall.*"/>

</beans>